*{
    padding: 0%;
    margin: 0%;
    border: none;
    box-sizing: border-box;
}

body{
    background-image: url('images/bjark-DZ975EkUJH0-unsplash.jpg'); 
   
       background-repeat: no-repeat;
    background-size:cover;
    /* overflow:hidden; */
    height: auto;
    font-family: 'Poppins', sans-serif;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}
.fullCon{
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}
.forecstD{
    margin: 20px;
    background-color: #d793ef;
  

}
.weekF{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

}
.container{
    /* position: relative; */
    width: auto;
    height: auto;
    background: rgb(255, 254, 254 ,0.5);
    padding: 20px 32px;
    /* overflow: hidden; */
    border-radius: 20px;
    font-family: 'Roboto' ,sans-serif ;
    transition: 0.7s ease-out;
}

.searchBox{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchBox input{
    color: #06283D;
    width: 80%;
    height:  35px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    border-radius: 10px;
}
.searchBox ,.fa-location-dot {
    position: absolute;
    color: #06283D;
    font-size: 28px;
    margin-left: 5px;
}
.searchBox ,.fa-location-crosshairs {
    position: relative;
    color: #06283D;
    font-size: 26px; 
    /* margin-left: 5px; */
}

.searchBox  button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}
.searchBox input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

.searchBox  button:hover{
    background: #f9fff6;
    color: aqua;
}

.weatherBox{
    text-align: center;
}
.weatherBox .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}
.weatherBox .description{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.weatherDetails{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.weatherDetails .windSpeed ,.weatherDetails .humidity{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;


}
.weatherDetails .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weatherDetails .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weatherDetails i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weatherDetails span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.weatherDetails p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}
.notFound{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.notFound img{
    width: 70%;
}

.notFound p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
.weatherBox , .weatherDetails{
    scale: 0;
    opacity: 0;
}
.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}

.container1 #myChart{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
    background-color: rgba(255, 255, 255,0.5);
    height:300px;
    width:600px;
    color: black;

}


.future-forecast{
    /* background: rgba(24,24,27,0.8); */
    padding: 25px;
    /* position: fixed; */
    bottom: 0;
    flex-wrap: wrap;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* overflow-y: hidden; */
}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    /* padding-right: 40px; */
    border-radius: 10px;
    width: 180px;
    background: rgba(0,0,0,0.2)
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}
#dayFive{
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
/* flex-wrap: wrap; */
}

/* ==============================================tablet==============================*/
@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .container{
        /* position: relative; */
        width: 500px;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: auto;
        background: rgb(255, 254, 254 ,0.5);
        padding: 10px 12px;
        margin-bottom: 10px;
        /* overflow: hidden; */
        border-radius: 20px;
        font-family: 'Roboto' ,sans-serif ;
        /* transition: 0.7s ease-out; */
    }
    .fullCon{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    
    }

    #dayFive{
        display: grid;
    grid-template-columns: repeat(2, 1.5fr);
     }


     .container1 #myChart{
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        /* display: flex; */
        background-color: rgba(255, 255, 255,0.5);
        height:300px;
        width:400px;
        color: black;
    
    }




}


/* ==============================================mobile==============================*/

@media only screen and (max-width: 800px) {
    .container{
        /* position: relative; */
        width: 500px;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: auto;
        background: rgb(255, 254, 254 ,0.5);
        padding: 10px 12px;
        margin-bottom: 10px;
        /* overflow: hidden; */
        border-radius: 20px;
        font-family: 'Roboto' ,sans-serif ;
        /* transition: 0.7s ease-out; */
    }
    .fullCon{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    
    }

    #dayFive{
        display: grid;
    grid-template-columns: repeat(2, 1.5fr);
     }


     .container1 #myChart{
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        /* display: flex; */
        background-color: rgba(255, 255, 255,0.5);
        height:300px;
        width:auto;
        color: black;
    
    }




}
@media only screen and (max-width: 300px) {

    #dayFive{
        display: grid;
    grid-template-columns: repeat(1, 1.5fr);
     }

}
